@model MvcDemos.ViewModels.GenreEditModel
@{
    ViewBag.Title = "Create";
}

<script src="~/app/AjaxForm/index.js"></script>

<script>
    $(function () {
        index.init();
    });
</script>

<h2>Parent page</h2>

<button id="create-user">Create</button>

<div id="dialog-form" title="Create new genre">
    @{ Html.RenderPartial("_Create"); }
</div>
