<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="3.16.1" targetFramework="net45" />
  <package id="AutoFixture.AutoFakeItEasy" version="3.16.1" targetFramework="net45" />
  <package id="AutoFixture.Xunit" version="3.16.1" targetFramework="net45" />
  <package id="Castle.Core" version="3.1.0" targetFramework="net40" />
  <package id="EntityFramework" version="6.1.2" targetFramework="net45" />
  <package id="FakeItEasy" version="1.7.4626.65" targetFramework="net40" />
  <package id="GenericRepository" version="0.3.1-pre01" targetFramework="net45" />
  <package id="GenericRepository.EF" version="0.3.1-pre01" targetFramework="net45" />
  <package id="GenericRepository.EntityFramework" version="0.3.1-pre01" targetFramework="net45" />
  <package id="xunit" version="1.9.2" targetFramework="net45" />
  <package id="xunit.extensions" version="1.8.0.1549" targetFramework="net45" />
</packages>