@model MvcDemos.ViewModels.GenreEditModel

@section scripts{
    @Scripts.Render("~/js/validatorAdapters/requiredIfTrueValidatorAdapter.js")
}

<h2>Create Genre</h2>
@using (Html.BeginForm())
{
    @Html.Partial("ValidationSummary", ViewData.ModelState)
    @Html.AntiForgeryToken()   

    @Html.EditorForModel()

    <button name="submit" value="submit">submit</button>
    <input type="submit" value="Create" />
}