<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="3.1.0" targetFramework="net40" />
  <package id="EntityFramework" version="5.0.0" targetFramework="net40" />
  <package id="FluentValidation" version="5.0.0.1" targetFramework="net40" />
  <package id="GenericRepository" version="0.3.1-pre01" targetFramework="net40" />
  <package id="GenericRepository.EF" version="0.3.1-pre01" targetFramework="net40" />
  <package id="GenericRepository.EntityFramework" version="0.3.1-pre01" targetFramework="net40" />
</packages>